

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 14px;
}

body { font-family: Times New Roman;
    border-color:aqua;
}

#footer {
    text-align: center;
   
    background-color: #333;
    color: white;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

.section {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.down-arrow {
    color: white;
    font-size: 2rem;
    display: none; 
}