

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 14px;
}

body { font-family: Times New Roman;
    border-color:aqua;
}

#footer {
    text-align: center;
   
    background-color: #333;
    color: white;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
}

img {
    max-width: 50%; /* Adjust this value as needed */
    float: right;
    margin-left: 20px; /* Adjust the margin as needed */
}